@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.font-poppins{
  font-family: 'Poppins','sans-serif';
}
.main{
  @apply  w-screen sm:px-8 items-center flex justify-center text-black
}
.btn{
  @apply   h-[48px] w-[48px] hover:border-gray-600 transition-all hover:bg-opacity-[0.6]  hover:border-[1px] flex items-center justify-center rounded-full bg-primary text-white
}
.primary{
  @apply text-[#2B0184]
}
.bold{
  @apply font-[800] 
}
h1{
  @apply text-[36px] font-semibold
}
.cover{
  @apply h-full w-full absolute top-0 left-0 object-cover
}
*{
  @apply  font-poppins
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
